<div id="header">
  <div id="header_left">
    <div id="left_menu">
      <span id="account_menu" class="overflow_ellipsis">Account Hero</span>
      <i class="fa fa-star-o"></i>
    </div>
    <h2 id="business_title" class="overflow_ellipsis">
      <span class="icon_prefix"><i class="fa fa-star prefix"></i></span>
      <span class="name_title open_menu" id="payments_menu">Payments<i class="fa fa-chevron-down postfix"></i></span>
    </h2>
  </div>
  <div id="search_container" class="show_for_large_up">
    <form id="search_header_form" class="search_form no_bottom_margin">
      <input type="text" id="search_terms" class="search_input" placeholder="Search" value="">
      <i class="fa fa-search icon_input_prefix"></i> 
    </form>
    <div class="header_links">
      <a href="#"><i class="fa fa-bullhorn"></i></a>
      <a href="#"><i class="fa fa-keyboard-o"></i></a>
    </div>
    </div>
</div>