<div id="payments_menu" class="menu">
  <ul>
    <li><a href="#"><i class="fa fa-users"></i>View All Customers</a></li>
    <li><a href="#"><i class="fa fa-bar-chart-o"></i>Charts & Graphs</a></li>
    <li><a href="#"><i class="fa fa-search"></i>Search Payments</a></li>
    <li><a href="#"><i class="fa fa-gears"></i>Configure Settings</a></li>
    <li class="divider"></li>
    <li><a href="#"><i class="fa fa-sign-out"></i>Sign Out</a></li>
  </ul>
</div>
