@-webkit-keyframes iconPulse {
  0%   { 
    opacity: 1;
    font-size: 1rem;
    }
  100% { 
    opacity: 1; 
    font-size: 1.00rem;
    }
}
@-moz-keyframes iconPulse {  
  0%   { 
    opacity: 1;
    font-size: 1rem;
    }
  100% { 
    opacity: 1; 
    font-size: 1.00rem;
    }
}
@-o-keyframes iconPulse {
  0%   { 
    opacity: 1;
    font-size: 1rem;
    }
  100% { 
    opacity: 1; 
    font-size: 1.00rem;
    }
}
@keyframes iconPulse {
  0%   { 
    opacity: 1;
    font-size: 1rem;
    }
  100% { 
    opacity: 1; 
    font-size: 1.00rem;
    }
}



