.menu {
  border-radius: 0.25rem;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border: 1px solid #DDD;
  box-shadow: 0 2px 10px rgba(64,54,63,0.5);
  position: absolute;
  top: 0px;
  right: 0px;
  max-width: 230px;
  color: #555459;
  z-index: 150;
  -webkit-box-shadow: 0 2px 10px rgba(64,54,63,0.5);
  -moz-box-shadow: 0 2px 10px rgba(64,54,63,0.5);
  color: #645563;
  font-weight: 400;
  font-size: 0.95rem;
  display: none;
    ul {
      margin: 0px !important;
      padding: 0px !important;
    }
    li.divider {
      height: 0px;
      border-bottom: 2px solid #f2f2f5;
    }
    li {
      line-height: 1.5rem;
      a {
        padding: 0.3rem 1.3rem 0.3rem 0.75rem;
        color: #645563;
        font-weight: 400;
        display: block;
        text-decoration: none;
        border-bottom: 1px solid white;
        text-shadow: 0 1px 0 rgba(0,0,0,0.2);
        i {
          padding-right: 0.5rem;
        }
        &:hover {
          color: white;
          background: #439fe0;
          border-bottom: 1px solid #2a80b9;
          text-shadow: 0 1px 0 rgba(0,0,0,0.2);
        }
      }
    }
}
